@model List<OC_eBibliotheque.Models.Auteur>
@{
    Layout = "~/Views/Shared/LayoutDuSite.cshtml";
    ViewBag.Title = "Auteurs - liste";
}
<table>
    <tr>
        <th>Auteurs - Id</th>
        <th>Auteurs - Nom</th>
    </tr>
    @foreach (OC_eBibliotheque.Models.Auteur auteur in Model)
    {
        <tr>
            <td>@auteur.Id</td>
            <td>@auteur.Nom</td>
        </tr>
    }
</table>
