@model List<OC_eBibliotheque.Models.Livre>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livres d’un auteur par son identifiant</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date parution</th>
        </tr>
        @foreach (OC_eBibliotheque.Models.Livre livre in Model)
        {
            <tr>
                <td>@livre.Id</td>
                <td>@livre.Titre</td>
                <td>@livre.DateParution</td>
            </tr>
        }
    </table>
    <br />
    <div>
        Url "/Afficher/Auteur/2"
    </div>
</body>
</html>
