@model List<OC_eBibliotheque.Models.Livre>
@{
    Layout = "~/Views/Shared/LayoutDuSite.cshtml";
    ViewBag.Title = "Livres - par auteur (id)";
}
<table>
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Date parution</th>
    </tr>
    @foreach (OC_eBibliotheque.Models.Livre livre in Model)
    {
        <tr>
            <td>@livre.Id</td>
            <td>@livre.Titre</td>
            <td>@livre.DateParution</td>
        </tr>
    }
</table>
 