@model OC_eBibliotheque.Models.Livre
@{
    Layout = "~/Views/Shared/LayoutDuSite.cshtml";
    ViewBag.Title = "Livre - détails";
}
<table>
    <tr>
        <th>Attribut</th>
        <th>valeur</th>
    </tr>
    <tr>
        <td> Titre </td>
        <td>@Model.Titre</td>
    </tr>
    <tr>
        <td> Date de parution</td>
        <td>@Model.DateParution</td>
    </tr>
    <tr>
        <td>Emprunteur </td>
        @if (Model.Emprunteur != null)
        {
            <td>@Model.Emprunteur.Nom </td>
        }
        else
        {
            <td> </td>
        }
    </tr>
</table>