@model OC_eBibliotheque.Models.Livre
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livre par son identifiant</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Attribut</th>
            <th>valeur</th>
        </tr>
        <tr>
            <td> Titre </td>
            <td>@Model.Titre</td>
        </tr>
        <tr>
            <td> Date de parution</td>
            <td>@Model.DateParution</td>
        </tr>
        <tr>
            <td>Emprunteur </td>
            @if (Model.Emprunteur != null)
            {
                <td>@Model.Emprunteur.Nom </td>
            }
            else
            {
                <td> </td>
            }
        </tr>
    </table>
    <br />
    <div>
        Url "/Afficher/Livre/3"
    </div>
</body>
</html>
