@model List<OC_eBibliotheque.Models.Livre>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rechercher livres : résultats </title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div>
        @Model.Count() résultat(s) trouvé(s).
    </div>
    <br />
    <table>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>

        @foreach (OC_eBibliotheque.Models.Livre livre in Model)
        {
            <tr>
                <td>@livre.Titre</td>
                <td>@livre.Auteur.Nom</td>
            </tr>
        }
    </table>
    <br />
    <div>
        Url "/" ou "/Afficher" ou "/Afficher/Livres"
    </div>
</body>

</html>