@model List<OC_eBibliotheque.Models.Livre>
@{
    Layout = "~/Views/Shared/LayoutDuSite.cshtml";
    ViewBag.Title = "Livres - Résultat(s)";
}
<div>
    @Model.Count() résultat(s) trouvé(s).
</div>
<br />
<table>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
    </tr>

    @foreach (OC_eBibliotheque.Models.Livre livre in Model)
    {
        <tr>
            <td>@livre.Titre</td>
            <td>@livre.Auteur.Nom</td>
        </tr>
    }
</table>